/* style.css */

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #ff5733;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

/* Responsividade para tamanhos pequenos */
.container {
    padding: 2rem;
    max-width: 90%;
    margin: 0 auto;
}
.container > .cadastro {
    padding: 1rem;
    border: 0.2em solid #ff7657;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 2rem 0.5rem #ff5733;
}

.titleBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -2rem;
    margin-top: 1rem;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
    transition: opacity 0.3s ease;
}

.searchHeader {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

#searchIcon {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
}

#searchBar {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    opacity: 0;
    visibility: hidden;
    width: 0;
    transition: all 0.3s ease;
}

#searchBar.show {
    opacity: 1;
    visibility: visible;
    width: 15rem;
}

form {
    display: grid;
    gap: 1rem;
}

label {
    font-weight: bold;
}

input, select, button {
    padding: 0.5rem;
    font-size: 1rem;
}

button {
    margin: 0.5rem;
    background: #ff5733;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #e04e2a;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 2rem;
}

th, td {
    border: 1px solid #ddd;
    padding: 0.8rem;
    text-align: left;
    overflow: hidden;
}

th {
    background: #ff5733;
    color: white;
}

tr:nth-child(even) {
    background: #f9f9f9;
}

/*resposividade do website*/

@media (max-width: 480px) {
    .container {
        padding: 1rem;
    }

    form {
        gap: 0.5rem;
    }

    input, select, button {
        font-size: 0.9rem;
        padding: 0.4rem;
    }

    header {
        font-size: 1.25rem;
    }
}


@media (max-width: 768px) {
    header {
        font-size: 1.5rem;
    }

    #searchBar.show {
        width: 10rem;
    }

    table {
        font-size: 0.9rem;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 75%;
    }

    #searchBar.show {
        width: 20rem;
    }

    header {
        font-size: 2.5rem;
    }
}

@media (min-width: 1920px) {
    body {
        font-size: 1.2rem;
    }

    header {
        font-size: 3rem;
    }

    #searchBar.show {
        width: 25rem;
    }

    .container {
        max-width: 60%;
    }
}